#contatto
  .vcard
    %span.fn.org Enomarket Srl
    %span.label Kojsko 36/a
    %span.postal-code.locality 5211 Kojsko
    %span.country Slovenia
    %span.tel Telefono: +386 5 30 41 611
    %span.tel Cellulare:  +386 41 497 305
    %span.email Email: enomarket.doo@siol.net
    %span.vat Partita IVA: SI52232441
