%meta{ :"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
%title
  = page_title
- if @page_description
  %meta{ :name => "description", :content => @page_description, "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8", :keywords => "risorse enologiche, analisi del vino, viticoltura, vinificazione, vinificazione" }
= stylesheets :screen, :media => "screen"