#links
  %h2 Links
  %ol
    %li=link 'Consulenza agricola', 'http://translate.google.com/translate?hl=en&ie=UTF-8&sl=sl&tl=it&u=http://www.kvz-ng.si/nasveti&prev=_t&rurl=translate.google.com&twu=1', { :target => :blank }
    %li=link 'Previsioni Meteo', 'http://www.osmer.fvg.it/', { :target => :blank }