%nav#nav
  %ul#navigation
    %li#home
      = link 'Home page', '/it/'
    %li#notizie
      = link 'Notizie', '/it/notizie'
    %li#negozio
      = link 'Negozio', '/it/negozio'
    %li#analisi
      = link 'Analisi', '/it/analisi'
