#orario
  %h2 Orario
  %dl
    %dt Lunedi&#8211;Venerdi
    %dd 14:00&#8211;18:00
    %dt Sabato
    %dd 08:30&#8211;12:30
    %dt Domenica e festivi
    %dd Chiuso
  %p.note * Orario valido dal 1.6. fino a 15.8. 2010