- @layout = "application"
- @page_title = "Enomarket d.o.o. - Trgovina s sredstvi za vinogradništvo in kletarstvo"
- @site_name = "Dobrodošli"
- @body_class = "home"
- @page_description = "Splošni opis dejavnosti, lokacija, urnik in kontakt"

%section
  %h2 Dobrodošli

  %p Smo specializirana trgovina s sredstvi za vinogradništvo in kletarstvo. Opravljamo tudi vse analize vina in oljčnega olja. Nahajamo se v vasi Kojsko v Goriških brdih.

#map
  = partial('shared/map')