- @layout = "application"
- @page_title = "Enomarket d.o.o. - Enološka sredstva, analize vina"
- @body_class = "home"
- @page_description = "Splošni opis dejavnosti, lokacija, urnik in kontakt"

%section
  %h2 Dobrodošli!

  %p Smo edina specializirana trgovina na Primorskem z enološkimi sredstvi širokega spektra. Opravljamo tudi vse analize vina in oljčnega olja. Nahajamo se v vasi Kojsko v Goriških Brdih.

#map
  = partial('shared/map')