- @layout = "application"
- @page_title = "Enomarket d.o.o. - Enološka sredstva, analize vina"
- @site_name = "Novice"
- @body_class = "home"
- @page_description = "Novice in novosti, aktualno, obvestila"

#news
