- @layout = "application"
- @page_title = "Enomarket d.o.o. - Enološka sredstva, analize vina"
- @site_name = "Trgovina"
- @body_class = "home"
- @page_description = "Splošni opis dejavnosti, lokacija, urnik in kontakt"

%section
  %h2 Trgovina
  
  %p V naši trgovini boste našli vse, kar potrebujete za pridelavo dobrega vina.
  = partial('partials/trgovina_izdelki')

  %p Vsa enološka sredstva vam po potrebi odtehtamo.
  %p Po naročilu vam priskrbimo tudi mini polnilne linije, filtre, grelne sonde, sulfo dozatorje, mašilce, optične refraktometre, pretočne črpalke in ostalo kletarsko opremo.
#slike
  = partial('partials/trgovina_slike')
