- @layout = "application"
- @page_title = "Enomarket d.o.o. - Enološka sredstva, analize vina"
- @site_name = "Vinski laboratorij"
- @body_class = "home"
- @page_description = "Splošni opis dejavnosti, lokacija, urnik in kontakt"

%section
  %h2 Vinski laboratorij

  %p Opravljamo vse vrste analize vina in oljčnega olja za interno uporabo.
  
  %p Kemična analiza vina obsega do 14 parametrov, kot so vsebnost alkohola, nepovretega sladkorja, prostega in vezanega SO2, titracijskih in hlapnih kislin, pH in analize glede stabilnosti vin na termolabilne beljakovine (bentotest). Opravljamo tudi analize mošta pred trgatvijo na vsebnost sladkorja, mlečne ter jabolčne kisline.

  #slike
    = partial('partials/vinski_laboratorij_slike')
    
  %p Pri analizi oljčnega olja izmerimo oksidativnost in kisline.
  
  %p Na željo kletarja opravljenim analizam naš enolog poda komentarje in priporočila glede izbire enoloških sredstev. Prav tako se z njim lahko dogovorite za storitve v vaši kleti, da z degustacijami in nasveti spremlja potek vinifikacije od fermentacije do končne priprave vina za prodajo.
  
  %p Vse analize opravimo v roku dveh dni. Po želji vam rezultate analiz lahko pošljemo tudi po pošti, faksu ali e-mailu.
  
  %p Cene naših analiz brez organoleptike ne presegajo 25€ po vzorcu.
  