/*
  Welcome to Susy. Use this file to define screen styles.
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />

/* @group reset */

@import compass/reset.sass

/* @end */

/* @group defaults */

@import base.sass

/* @end */


/* @group STRUCTURE */

html, body
  +susy
  +reset-html5
  :background-color = !background_color
  color= !font_color
  +sans-family
  :height 100%
#header
  +nowrap
  +pad(1,0)
  :height 3em
  :margin 1.5em 0 0 0
  h1
    :height 77px
    :width auto
    a
      +full
      +columns(7,10)
      :color= !font_color
      :height 77px
      +replace-text("/images/enomarket_logo_with_glass.png", "left")
      &:focus, &:hover, &:active
        :border-bottom 0
#page
  +container
  :padding-left 7em
  p
    :text-align justify



#nav
  :float right
  +pad(1,1)
  +full
  ul#navigation
    :background-color = !navigation_background
    +horizontal-list-container
    +border-top-radius(".5em")
    li
      +horizontal-list-item(".5em")
      :padding-top .5em
      &:first-child, &.first
        :padding-left .5em
      &:last-child, &.last
        :padding-right .5em
      &.active
        :background-color= !content_background
        a
          :color= !subtitle_color
          &:focus, &:hover, &:active
            :color= !subtitle_color
      a
        :color #fff
        :text-align center
        &:focus, &:hover, &:active
          :color= !highlight_color
          

#content
  +full
  +pad(1,1)
  :background-color= !content_background
  :padding-top 1.5em
  :margin-bottom 1.5em
  +border-radius(".5em")
  :height 100%
  :min-height 11em
  :border-style solid 
  :border-color = !navigation_background
  :border-width 1px

.slike
  :width 520px
  :background-color = !background_color
  :border-style dotted
  :border-color = !navigation_background
  :border-width 1px
  :text-align center
  :margin 0 auto
  :margin-bottom 1.5em
  img
    :margin= px2em(5)+"em" "auto"
    :vertical-align middle

#map
  :height 100%
  :margin-bottom 1.5em
  iframe
    :margin 0 10%
    :width 75%
    :height 20em
    :padding 0

#footer
  +full
  :height 13em
  :margin-bottom 1.5em

#kontakt, #urnik  
  h2
    :margin-top .75em
    :margin-bottom .75em

#urnik
  :width 176px
  :background #FFFADD url(/images/paperpin.png) no-repeat 5% 0%
  :text-align center
  :position absolute
  :margin-left -12em
  :border-style dotted
  :border-color= !background_color - #555
  :border-width 1px
  dl
    :margin-bottom .75em
    dt
      :font-weight bold
    
#kontakt
  +columns(10)
  +full
  :display block
  .vcard
    :border-style dotted
    :border-color #ddd
    :border-width 1px
    :margin-left 25%
    :margin-right 25%
    :margin-bottom .75em
    :margin-top .75em
    :height 100%
    :background-color #FFFADD
    & > span
      :height 100%
      :display block
      :text-align center

#ponudba
  +columns(10)
  +full
  :margin-bottom 1.5em
  .artikli
    :margin-left 12.5%
    :width 75%
    :height = !base_line_height_px + "px"
    h3
      :padding-left 40px
      :height = !base_line_height_px + "px"
      :border
        :style dotted
        :color #444
        :width 1px 
      :background #ddd url(/images/round_minus_plus.png) no-repeat 2px 0px
    &.active
      :display block
      :height 100%
      h3
        :height 24px
        :background #ddd url(/images/round_minus_plus.png) no-repeat 2px -24px

    ul
      :display none
      :margin-bottom 0
      li
        :font-family trebuchet, verdana, arial, sans-serif
        :font-size 12px
        :line-height 2em
        :vertical-align middle
  p
    +columns(10)
    +full
    :display block
    :clear both
    

/* @end */

  
/* @group COMPONENTS by type */

* html #page
  :height 100%


/* @end */


/* @group OVERRIDES by content */


/* @end */

        
/* @group OVERRIDES by page */


/* @end */


/* @group DEBUG */

/*   uncomment, adjust and use for debugging    */

//#page
// +show-grid("/images/grid.png")
  // +show-grid("/images/line.png")



/* @end */
