- @layout = "italian"
- @page_title = "Enomarket Srl - Enologico significa analisi del vino"
- @site_name = "Analisi del vino"
- @body_class = "home"
- @page_description = "Laboratorio analisi del vino dei vini, produttori di vino raccomandazioni"

%section
  %h2 Laboratorio

  %p Eseguiamo tutti i tipi di analisi del vino e dell'olio di oliva per uso interno.

  %p L'analisi chimica del vino consiste fino a 14 parametri: alcol, zuccheri non fermentati, SO2 libera e combinata, 

  #immagine
    = partial('it/partials/laboratorio_immagine')
    
  %p Nell'analisi di olio d'oliva il numero di perossidi (meqO2/kg) e acidita libera (% acido oleico).

  %p Su richiesta, dopo le analisi effettuate, l'enologo da'i suoi commenti e le raccomandazioni in riguardo alla scelta dei prodotti enologici. Inoltre, e possibile organizzare visite con l'enologo nella vostra cantina, con degustazioni e consigli, seguendo il corso della vinificazione dalla fermentazione fino agli ultimi preparativi per la vendita del vino.

  %p Tutte le analisi vengono eseguite entro 48 ore. Su richiesta le analisi spediamo per posta, fax o via e-mail.

  %p I prezzi delle nostre analisi normali non superano i 25 € per campione.
