- @layout = "italian"
- @page_title = "Enomarket Srl - Enologico significa analisi del vino"
- @body_class = "home"
- @page_description = "Descrizione generale delle attività, l'ubicazione, gli orari e contatti"

%section
  %h2 Benvenuti!

  %p Siamo l'unico negozio specializzato in prodotti enologici in regione. Eseguiamo tutti i tipi di analisi di vino e di olio d'oliva. Siamo situati nel villaggio di Kojsko in Goriška Brda - parte Slovena del Collio Goriziano.

#map
  = partial('it/shared/map')