- @layout = "italian"
- @page_title = "Enomarket Srl - Enologico significa analisi del vino"
- @site_name = "Negozio"
- @body_class = "home"
- @page_description = "Prodotti di vinificazione, la fornitura, il commercio"

%section
  %h2 Negozio

  %p Nel nostro negozio troverete tutto il necessario per la produzione dei vini diqualita.

  = partial('it/partials/negozio_prodotti')

  %p Su richiesta, vendiamo tutti i prodotti enologici a peso desiderato.
  %p Su richiesta forniamo anche le mini-lineedi riempimento, i filtri, sonde di riscaldamento, il dosaggio solfonati, rifrattometri ottici, pompe e altreattrezzature.

#immagine
  = partial('it/partials/negozio_immagine')
