#offerta
  %h3 Categorie di prodotti
  .articoli
    %h3 Coadiuvanti enologici
    %ul#risorse_enologiche
      %li le Bentoniti (Bentogran, Pentagel, Pluxbenton,...)
      %li Caseinato di potassio
      %li Sol di silice
      %li Gelatina (liquida, polvere)
      %li Carbone (deodorante, decolorante, Carbosil,...)
      %li albumina d'uovo
      %li colla di pesce
      %li PVPP
      %li Acido citrico
      %li Acido tartarico
      -#%li jabolčna in mlečna kislina
      -#%li magnezijev karbonat in sulfat
      
  .articoli
    %h3 Chiarificanti policomposti
    %ul#chiarificanti_policomposti
      %li Caseostar
      %li Alfa P
      %li Technoclar WA
      %li Phenol free
      %li Caseocell
      %li Caseomix
      %li Microcell

  .articoli
    %h3 Risorse per la tutela del vino
    %ul#risorse_per_la_tutela_del_vino
      %li acido solforoso 5-6%
      %li Metabisolfito di potassio
      %li Zolfo dischi e strisce
      %li Tanisol e Stopflor pastiglie
      %li Ferroblock, Citrosol
      %li acido metatartarico
      %li sorbato di potassio
      %li ampia scelta di tannini (quercia, vinaccioli, bucce,...)
      
  .articoli
    %h3 Lieviti
    %ul#lieviti
      %li Uvaferm
      %li Lalvin
      %li Fermol
      %li Ruler (art enology)

  .articoli
    %h3 Enzimi
    %ul#enzimi
      %li Lalzym
      %li Endozym
      %li Rapid (liquido e polvere)

  .articoli
    %h3 Disinfettanti e detergenti
    %ul#disinfettanti_e_detergenti
      %li Removil
      %li Enoidrosan
      %li Supersodal
      %li Neodetersol vetro
      %li Sanoton
      %li Detersol

  .articoli
    %h3 Filtri
    %ul#filtri
      %li Filtri a piastre SEITZ 40x40 e 20x20
      %li Filtri a farina Kieselguhr
      -#%li Predpaneli

  .articoli
    %h3 Altri prodotti per i produttori di vino
    %ul#altri_prodotti_per_i_produttori_di_vino
      %li Bottiglie - varie da 30ml - 1,5 l
      %li Tappi (sughero, corona, Neocork silicone, alluminio, per i vini spumanti)
      %li Tappi decorativi per bottiglie da 0,75 l. vari colori
      %li Scatole di cartone di regalo e di trasporto, gambi 1-4 bottiglie
      %li Vari tipi di vasi, brocche, tagliacarte
      %li Apparecchiature per l'analisi del vino:SO2 libera e totale, la titolazione acidita, pH-metri
      %li Articoli per cantina: tubi in acciaioinox e pompe, guarnizioni, tubi inacciaio inossidabile e le valvole didiverse dimensioni
      %li Tubi e pompe Rover

  .articoli
    %h3 Altro
    %ul#altro
      %li Vasi in vetro vari di 106ml - 2,5 litri
      %li Vasi per miele con coperchio
      %li Guanti protettivi
      %li Forbici per la vendemmia
      %li Accessori per la cura della vigna
      %li Etichette, nastri adesivi
      %li Terra fertile per orti e giardini
      %li Fertilizzanti
