#kontakt
  .vcard
    %span.fn.org Enomarket d.o.o.
    %span.label Kojsko 36/a
    %span.postal-code.locality 5211 Kojsko
    %span.tel Telefon: +386 5 30 41 611
    %span.tel Mobilni telefon:  +386 41 497 305
    %span.email Email: enomarket.doo@siol.net
    %span.vat ID za DDV: SI52232441
