#povezave
  %h2 Povezave
  %ol
    %li=link 'Kmetijski nasveti', 'http://www.kvz-ng.si/nasveti', { :target => '_blank' }
    %li=link 'Vremenska napoved', 'http://www.osmer.fvg.it/', { :target => '_blank' }