%h2 Kje smo?

%iframe{ :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=kojsko+brda&amp;sll=35.675147,-95.712891&amp;sspn=37.547028,52.207031&amp;ie=UTF8&amp;hq=&amp;hnear=Kojsko,+Brda,+Slovenia&amp;ll=46.012641,13.579531&amp;spn=0.003957,0.006373&amp;z=14&amp;iwloc=A&amp;output=embed", :frameborder => "0" }