%h2 Kje smo?

%iframe{ :src => "http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=105713106276739057240.0004855dc757c85742c48&amp;ll=46.006501,13.574295&amp;spn=0.228925,0.439453&amp;z=11&amp;output=embed" }
