%nav#nav
  %ul#navigation
    %li#domov
      = link 'Domov', '/'
    %li#novice
      = link 'Novice', '/novice'
    %li#trgovina
      = link 'Trgovina', '/trgovina'
    %li#analize
      = link 'Analize', '/vinski_laboratorij'
