#urnik
  %h2 Urnik
  %dl
    %dt Ponedeljek&#8211;Petek
    %dd 08:00&#8211;12:30
    %dd 14:00&#8211;18:00
    %dt Sobota
    %dd 08:30&#8211;12:30
    %dt Nedelja in prazniki
    %dd Zaprto
  -#%p.note * Urnik velja od 1.6. do 15.8. 2010